header {
  margin-bottom: 100px;
}

.user-avatar {
  opacity: 0.7;
  position: absolute;
  top: -40px;
  right: -40px;
  border-radius: 50%;
  border: 1px solid black;
}

.card {
  margin-bottom: 20px;
  background: rgb(255,255,255);
  background: linear-gradient(43deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(223,223,223,1) 100%); 
}